/Race/nbproject/private/
/Race/build/
/ReverseLinkedList/nbproject/private/
/ReverseLinkedList/build/
/ConstructTheRectangle/nbproject/private/
/ConstructTheRectangle/build/
/NimGame/nbproject/private/
/NimGame/build/